<section>
  <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
    <ng-map zoom="12" center="current-location" style="height:600px"
        on-center-changed="centerCustomMarker()">
      <custom-control id="searchbar" position="TOP_LEFT">
        <div id="search-container" class="inner-addon right-addon">
          <input id="pac-input" class="controls" ng-model="vm.address" size=80 places-auto-complete types="['geocode']" on-place-changed="vm.search()"/>
          <span id="searchclear" class="glyphicon glyphicon-remove-circle" ng-click="vm.clearAddress()"></span>
        </div>
      </custom-control>
      <marker visible="false" id="focus" position="{{vm.pos}}" on-click="vm.showInfoWindow()">
      </marker>
      <info-window id="info" z-index="0">
        <div ng-non-bindable class="info-window">
          <div class="justgage"
            title="Fly Condition"
            value="{{vm.flyCondition.risk * 20}}" value-font-color="black"
            min="0" max="100"
            hide-min-max="false" hide-value="false" hide-inner-shadow="false"
            gauge-width-scale="0.5" gauge-color="grey"
            show-inner-shadow="true" shadow-opacity="0.3"
            shadow-size="3" shadow-vertical-offset="10"
            custom-sectors="{{vm.customSectors}}" no-gradient="false"
            label="Risk" label-font-color="black"
            start-animation-time="1200"
            donut="true" donut-start-angle="90"
            counter="true" decimals="2" symbol="%" format-number="true"
            human-friendly="true" human-friendly-decimal="true"></div>
          <table class="table">
            <tr>
              <td>Weather</td>
              <td>{{vm.flyCondition.description}}</td>
            </tr>
            <tr>
              <td>Wind</td>
              <td>{{vm.flyCondition.wind.speed}} km/h {{vm.flyCondition.wind.direction}}</td>
            </tr>
            <tr>
              <td>Rain</td>
              <td ng-if="vm.flyCondition.rain">Yes</td>
              <td ng-if="!vm.flyCondition.rain">None</td>
            </tr>
          </table>
        </div>
      </info-window>
      <shape id="focusCircle" visible="false" name="circle" stroke-color='#0000FF'
        stroke-opacity="0.8" stroke-weight="2"
        center="{{vm.pos}}" radius="500">
      </shape>
      <shape ng-repeat="point in vm.blacklist" name="circle" stroke-color='#FF0000'
        stroke-opacity="0.8" stroke-weight="2"
        center="[{{point.lat}}, {{point.lng}}]" radius="5000">
      </shape>
    </ng-map>
  </div>
</section>
